<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="cont_principal">
    <div class="cont_centrar">

        <div class="cont_todo_list_top">
            <div class="cont_titulo_cont">
                <h3>THINGS TO DO</h3>
            </div>
            <div class="cont_add_titulo_cont"><a href="#e" onclick="add_new()"><i class="material-icons"></i></a>
            </div>

            <!--   End cont_todo_list_top  -->  </div>
        <div class="cont_crear_new">
            <table class="table">
                <form action="/todo/add" method="post" enctype="multipart/form-data" th:object="${toDo}">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" class="input_title_desc" th:field="*{name}"/>
                            <!-- End td 1 -->
                        </td>
                        <td>
                            <input type="text" class="input_title_desc" th:field="*{email}"/>

                            <!-- End td 2 -->
                        </td>
                        <td>
                            <select name="" class="input_description_title" id="date_select" th:field="*{toDoStatus}">
                                <option th:value="${status}" th:each="status:${toDoStatuses}"
                                        th:text="${status}"></option>
                            </select>
                            <!-- End td 3 -->
                        </td>
                    </tr>
                    <tr>
                        <th class="titl_description">Image</th>
                    </tr>
                    <tr>

                        <td colspan="3">
                            <input type="file" class="input_description" required name="img"/>
                        </td>
                    </tr>
                    <tr>
                        <th class="titl_description">Description</th>
                    </tr>
                    <tr>

                        <td colspan="3">
                            <textarea type="text" class="input_description textarea_desc" required
                                      th:field="*{text}"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <button class="btn_add_fin" onclick="add_to_list()">ADD</button>
                        </td>
                    </tr>
                </form>
            </table>
            <!--   End cont_crear_new  -->
        </div>


        <div class="cont_princ_lists">
            <ul>
                <li class="list_shopping li_num_0_1" th:each="todo:${todos}">
                    <div class="col_md_1_list">
                        <p th:text="${todo.email}"></p>
                    </div>
                    <div class="col_md_2_list">
                        <h4 th:text="${todo.name}"></h4>
                        <p th:text="${todo.text}"></p>
                    </div>
                    <div class="col_md_2_list">
                        <img th:src="@{/getImage(picUrl=${todo.picture})}">
                    </div>
                    <div class="col_md_3_list">
                        <div class="cont_text_date">
                            <p th:text="${todo.toDoStatus}"></p>
                        </div>
                        <!--                        <div class="cont_btns_options">-->
                        <!--                            <ul>-->

                        <!--                                <li><a href="#" onclick="finish_action('0','0_1');"><i class="material-icons"></i></a>-->
                        <!--                                </li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </div>
                </li>
                <li class="list_shopping li_num_0_1" >
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="pagination" th:if="${todos.totalPages > 0}">
                                <!--class="active"-->
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li th:each="pageNumber: ${pageNumbers}"><a
                                        th:href="@{/(size=${todos.size}, page=${pageNumber})}"
                                        th:text="${pageNumber}"
                                        th:class="${pageNumber==todos.number + 1} ? active"></a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <!-- <li class="list_work"></li>
                  <li class="list_sport"></li>
                  <li class="list_music"></li>
                 -->  </ul>
            <!--   End cont_todo_list_top  -->   </div>


        <!--   End cont_central  -->
    </div>
</div>

<script src="script.js"></script>
</body>
</html>